@font-face {
   font-family: 'font';
   font-display: swap;
   src: url('file:///C:/Users/ILIFENET%20CLASSIC%2001/Desktop/TSHIRT%20CULCHA/TC-%20Website%2001-08-2024%20rev%2010/Project%20Export/fonts/font/font.ttf');
}
